# Gradle files
.gradle
gradle.properti
**/build/

# Keep only proguard mapping.txt files, for flavor devel and prod, inside build directory
!app/build/
app/build/*
!app/build/outputs/
app/build/outputs/*
!app/build/outputs/mapping/
app/build/outputs/mapping/*

# Keep proguard obfuscate mapping file
#!/app/build/outputs
#/app/build/outputs/*
#
#!/app/build/outputs/mapping
#/app/build/outputs/mapping/*

# Local configuration file (sdk path, etc)
local.properties

# Max OS X clutter
.DS_Store

# Windows clutter
Thumbs.db
desktop.ini

# Other strange files, eg. Vim's backup files ;)
*~

# Idea files
.idea/
*.iml

#built application files
*.apk
*.ap_

#chrashlytics
com_crashlytics_export_strings.xml
